/* /Components/Bucket.razor.rz.scp.css */
.bucket-button[b-6qjwmxkjhr] {
  width: 125px;
  height: 35px;
  border-radius: 15px;
  background-color: rgb(233, 181, 10);
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.overlay[b-6qjwmxkjhr] {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(3px);
  z-index: 900;
}

.bucket-panel[b-6qjwmxkjhr] {
  position: fixed;
  top: 0;
  right: 0;
  width: 340px;
  height: 100vh;
  background: #fff;
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  animation: slideIn-b-6qjwmxkjhr 0.3s ease forwards;
}

/* анімація відкриття */
@keyframes slideIn-b-6qjwmxkjhr {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.bucket-header[b-6qjwmxkjhr] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  font-size: 1.2rem;
  font-weight: 700;
  color:black;
}

.close-btn[b-6qjwmxkjhr] {
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.bucket-items[b-6qjwmxkjhr] {
  flex: 1;
  overflow-y: auto;
  padding: 0.5rem 1rem;
}

.bucket-item[b-6qjwmxkjhr] {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

.bucket-item img[b-6qjwmxkjhr] {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}

.item-info[b-6qjwmxkjhr] {
  color:black;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.item-name[b-6qjwmxkjhr] {
  font-weight: 600;
}

.item-price[b-6qjwmxkjhr] {
  color: #e5b30b;
}

.item-qty[b-6qjwmxkjhr] {
  color:black;
  display: flex;
  align-items: center;
  gap: 6px;
}

.item-qty button[b-6qjwmxkjhr] {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.bucket-footer[b-6qjwmxkjhr] {
  color:black;
  padding: 1rem;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total[b-6qjwmxkjhr] {
  font-weight: 700;
  font-size: 1.1rem;
}

.checkout[b-6qjwmxkjhr] {
  background: rgb(233, 181, 10);
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-weight: 600;
  cursor: pointer;
}
/* /Components/CategoryButton.razor.rz.scp.css */
.category-button[b-kw88zkl2gv] {
    background-color: #F9F9F6;
    border-radius: 20%;
    width: 20%;
    height: 150px;
    text-align: center;
    margin: 10px;
}

.category-button a[b-kw88zkl2gv] {
    display: block;
    text-decoration: none;
    color: inherit;
}

.category-image[b-kw88zkl2gv] {
    width: 100%;
    height: 150px;
    transition: transform 0.2s ease;
}

.category-image:hover[b-kw88zkl2gv] {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.category-title[b-kw88zkl2gv] {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
}
/* /Components/CategoryButtonProduct.razor.rz.scp.css */
.category-button[b-y2op8o7za6] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f185;
    border-radius: 20px;
    width: 250px;
    height: 200px;
    text-align: center;
    margin: 10px;
}

.category-button a[b-y2op8o7za6] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

.category-image[b-y2op8o7za6] {
    object-fit: contain;
    max-width: 80%;
    max-height: 60%;
    border-radius: 6px;
}

.category-title[b-y2op8o7za6] {
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
/* /Components/DropDownText.razor.rz.scp.css */
.product-info[b-itlpp1vfxo]{
    text-align: center;
    width: 140px;
    background-color: lightgrey;
    border-radius: 10px;
}
.product-info-text[b-itlpp1vfxo]{

}
/* /Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-n1n046qqkx] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  margin: 0;
}

.site-header[b-n1n046qqkx] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f185;
  color: white;
  padding: 10px 20px;
}

.site-header-second[b-n1n046qqkx] {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 20px;
  background-color: #ffffff;
  color: white;
  padding: 10px 20px;
}


.logo-block[b-n1n046qqkx] {
  display: flex;
  align-items: center;
  gap: 15px;
}

.site-footer[b-n1n046qqkx] {
  background-color: #f1f1f185;
  border-top: 1px solid #cecece;
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  font-size: 0.9rem;
  height: 20vh;
}

.site-content[b-n1n046qqkx] {
  flex: 1;
  min-height: 300px;
}

.button-yellow[b-n1n046qqkx] {
  width: 150px;
  height: 35px;
  border-radius: 15px;
  background-color: rgb(233, 181, 10);
  border-style: hidden;
}

.iconbutton[b-n1n046qqkx] {
  background-color: #f1f1f185;
  width: 15vh;
  border: none;
}

.header-grid[b-n1n046qqkx] {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 20px;
}


.header-left[b-n1n046qqkx] {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-center[b-n1n046qqkx] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right[b-n1n046qqkx] {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.header-grid-second[b-n1n046qqkx] {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 20px;
  padding: 10px 20px;
}

.header-second-left[b-n1n046qqkx] {
  display: flex;
  align-items: center;
}

.header-second-center[b-n1n046qqkx] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-second-right[b-n1n046qqkx] {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* /Components/Layout/Registration.razor.rz.scp.css */
.modal-overlay[b-0c36r2f4b6] {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1000;
  padding: 1rem;
  backdrop-filter: blur(5px);
}

.modal[b-0c36r2f4b6] {
  position: relative;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
  width: 400px;
  height: 300px;
  overflow-y: auto;
  padding: 1.25rem;
  z-index: 1001;
  display: block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.modal.modal-reg[b-0c36r2f4b6] {
  position: relative;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
  width: 400px;
  height: 460px;
  overflow-x: hidden;
  padding: 1.25rem;
  z-index: 1001;
  display: block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

form[b-0c36r2f4b6] {
  position: relative;
  left: 10%
}

.actions[b-0c36r2f4b6] {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.actions input[type="radio"][b-0c36r2f4b6] {
  display: none;
}

.bottonEnter[b-0c36r2f4b6] {
  position: relative;
  top: 30px;
  left: 33%;
  height: 30px;
  width: 35%;
  background-color: rgb(233, 181, 10);
  ;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.button[b-0c36r2f4b6] {
  flex: 1;
  text-align: center;
  padding: 10px 10;
  cursor: pointer;
  position: relative;
  font-weight: 500;
}

/* Лінія під кнопкою */
.button[b-0c36r2f4b6]::after {
  content: "";
  display: block;
  width: 130%;
  height: 3px;
  background-color: black;
  opacity: 0.4;
  transition: opacity 0.3s ease;
  margin-top: 8px;
  margin-left: -20px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

#SignIn:checked+.button[b-0c36r2f4b6]::after,
#SignUp:checked+.button[b-0c36r2f4b6]::after {
  opacity: 1;
}

.inputInfo[b-0c36r2f4b6] {
  text-align: center;
  border-color: black;
  border-width: 1px;
  border-radius: 20px;
  width: 80%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.close-button[b-0c36r2f4b6] {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 4px 8px;
}
/* /Components/Pages/Categories.razor.rz.scp.css */
.page-layout[b-oils2wpem0] {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 20px;
  padding: 20px;
}

.category-name[b-oils2wpem0] {
  font-weight: 500;
  font-size: 20px;
}

.search-bar-box[b-oils2wpem0] {
  display: flex;
  justify-content: center;
  background-color: #ffffff3d;
  height: 70px;
}

.sidebar-sticky[b-oils2wpem0] {
  position: sticky;
  top: 12px;
  /* відстань від верху вікна */
  z-index: 1000;
  /* поверх сусідніх блоків */
  align-self: start;
  /* щоб не розтягувало по висоті грідом */
}

.sidebar[b-oils2wpem0] {
  background: #fff;
  border: 1px solid #3f3f3f70;
  border-radius: 10px;
  padding: 15px;

  /* Щоб вміст скролився всередині, а «липкість» зберігалась */
  box-shadow: 0 2px 8px rgba(0, 0, 0, .06);
}

.content[b-oils2wpem0] {
  width: 99%;
  margin: 0;
  padding: 0;
}

div[b-oils2wpem0] {
  padding: 5px;
}

.inputT[b-oils2wpem0] {
  border: none;
  width: auto;
  min-width: 1ch;
  max-width: 6ch;
  text-align: center;
}


.keyword-chips[b-oils2wpem0] {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  width: 30vh;
}

.chip[b-oils2wpem0] {
  border: none;
  border-radius: 10px;
  background-color: #F9F9F6;
  padding: 0.5vh;
}

.nice-checkbox[b-oils2wpem0] {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.nice-checkbox-text[b-oils2wpem0] {
  display: inline-block;
  line-height: 22px;
  /* така ж висота, як .nice-checkbox-box */
  margin: 0;
  /* на всякий випадок прибираємо відступи */
}


.nice-checkbox-input[b-oils2wpem0] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nice-checkbox-text[b-oils2wpem0] {
  display: inline-block;
  line-height: 2px;
  margin: 0;
}

.nice-checkbox-box[b-oils2wpem0] {
  width: 22px;
  height: 22px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  background: #ffffff;
  display: inline-block;
  position: relative;
}

.nice-checkbox-box[b-oils2wpem0]::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 4px;
  width: 9px;
  height: 14px;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transform: rotate(40deg);
  transition: 0.4s;

}

.nice-checkbox-input:checked+.nice-checkbox-box[b-oils2wpem0]::after {
  top: 0px;
  right: 0px;
  left: 4px;
  border-color: rgb(255, 255, 255);
}

.nice-checkbox:hover .nice-checkbox-box[b-oils2wpem0] {
  background: #26C6DA;
  transition: 0.4s;
}

.search-button[b-oils2wpem0] {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  left: 35%;
  border: none;
  border-radius: 10px;
  background-color: rgb(233, 181, 10);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

}

.nice-checkbox-input:checked~.nice-checkbox-box[b-oils2wpem0] {
  background-color: black;
}
/* /Components/Pages/Home.razor.rz.scp.css */
.hero[b-3ol7sa13lc] {
    background-color: #25C6DA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    padding: 4rem 2rem;
    border-bottom: 1px solid #cecece;
    text-align: center;
}

.categories[b-3ol7sa13lc] {
    background-color: #fcfcfc;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1[b-3ol7sa13lc] {
    font-family: "Nunito";
    font-weight: 800;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #1A1A1A;
}

h2[b-3ol7sa13lc] {
    color: white;
    font-family: "Nunito";
    font-weight: 100 !important;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0;
}

.categories-row[b-3ol7sa13lc] {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -120px;
}

.category-card[b-3ol7sa13lc] {
    background-color: #d0d0d0;
    width: 120px;
    height: 120px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
}

.search-bar[b-3ol7sa13lc] {
    margin-top: 1rem;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    border-color: 1px solid #cecece;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.button-search[b-3ol7sa13lc] {
    border-bottom: 1px solid #cecece;
    border-radius: 12px;
}
/* /Components/Pages/ProductCart.razor.rz.scp.css */
.product-sect[b-icxuf27dhk]{
    text-align: center;
    height: 600px;
}
.product-photo[b-icxuf27dhk]{
    display: flex;
    text-align: center;
    border-radius: 20px;
    margin: 20px auto;
    display: block;
    min-width: 70%;
    min-height: 70%;
    max-width: 100%;
    max-height: 100%;
}

.green-button[b-icxuf27dhk]{
    background-color: rgb(35, 253, 133);
    border:none;
    border-radius: 20px;
    width:100%; 
    height:5vh;
}


.sell-price[b-icxuf27dhk]{
    color:black;
    text-decoration:line-through;
    text-align: center;
    padding:5px;
    background-color: lightgrey;
    border-radius: 2vh;
}

.info-container[b-icxuf27dhk] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-top: 10px;
}
.info-box[b-icxuf27dhk] {
    flex: 1;
    min-width: 250px;
    max-width: 380px;

    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.categories[b-icxuf27dhk] {
    background-color: #fcfcfc;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-row[b-icxuf27dhk] {
    display: flex;
    gap: 6rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -120px;
}

.price[b-icxuf27dhk]{
    font-weight: 550;
    font-size:4vh;
    color:rgb(240, 138, 0);
}

/* /Components/Pages/Profile.razor.rz.scp.css */
.profile[b-djj6ubr374] {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  margin-top: 5vh;
}

.avatar[b-djj6ubr374] {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  background-color: #ddd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.info-container[b-djj6ubr374] {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-bottom: 5vh;
  margin: 5vh;
  transition: 1s;
}

.info-box[b-djj6ubr374] {
  flex: 1;
  min-width: 250px;
  max-width: 480px;
  background-color: #26C6DA;
  border: hidden;
  border-radius: 50px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 1s;
}

.redact-button[b-djj6ubr374] {
  background-color: #26C6DA;
  width: 0px;
  height: 0px;
  border: none;
}

.prof-text[b-djj6ubr374] {
  size: 10px;
  font-weight: 700;
  margin: 0px;
  transition: all 20s ease;
}

.divider[b-djj6ubr374] {
  height: 2px;
  opacity: 1;
  background-color: #000000;
}

input[b-djj6ubr374],
option[b-djj6ubr374],
select[b-djj6ubr374] {
  border: 1px solid #2e2e2e3d;
  border-radius: 10px;
}

.bottonEnter[b-djj6ubr374] {
  border: none;
  border-radius: 10px;
  height: 1%;
  font-weight: 200;
  background-color: #ff465f;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}
/* /Components/PriceRangeSlider.razor.rz.scp.css */
.slider-wrapper[b-e6iwq84l5f] {
  position: relative;
  flex: 1;
  height: 28px; 
}

.slider-wrapper input[type="range"][b-e6iwq84l5f] {
  position: absolute;
  inset: 0;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
  background: none;
  margin: 0;
  z-index: 2;
  touch-action: none;/
}

.slider-wrapper input[type="range"]:focus[b-e6iwq84l5f],
.slider-wrapper input[type="range"]:active[b-e6iwq84l5f] {
  z-index: 3;
}

.slider-wrapper input[type="range"][b-e6iwq84l5f]::-webkit-slider-thumb {
  pointer-events: all;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
}

.slider-wrapper input[type="range"][b-e6iwq84l5f]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

.slider-track[b-e6iwq84l5f] {
  position: absolute;
  top: 12px;
  height: 4px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  z-index: 0;
}

.slider-active[b-e6iwq84l5f] {
  position: absolute;
  top: 12px;
  height: 4px;
  background: #000000;
  border-radius: 5px;
  z-index: 1;
}

.slider-wrapper input[type="range"][b-e6iwq84l5f]::-webkit-slider-runnable-track {
  background: transparent;
}
.slider-wrapper input[type="range"][b-e6iwq84l5f]::-moz-range-track {
  background: transparent;
}
/* /Components/ProductList.razor.rz.scp.css */
.products-container[b-j0hmfoenw4] {
  position: relative;
  /* щоб sticky працювало всередині */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  width: 100%;
  border-radius: 10px;
  background: #ffffff;
  padding-bottom: 70px;
  /* щоб кнопки не перекривали товари */
  scrollbar-gutter: stable both-edges;

}

.product-button[b-j0hmfoenw4] {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  border: 2px solid #e0e0e0;
  border-radius: 30px;
  background: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease;
  width: 200px;
  height: 250px;

}

.product-button:hover[b-j0hmfoenw4] {
  border-color: #0078d7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.product-button img[b-j0hmfoenw4] {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.product-button .name[b-j0hmfoenw4] {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #333;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  transition: all 0.15s ease-in-out;
}

.product-button .name:hover[b-j0hmfoenw4] {
  -webkit-line-clamp: unset;
  overflow: visible;
  white-space: normal;
  display: block;
}



.product-button .price[b-j0hmfoenw4] {
  font-size: 18px;
  font-weight: 700;
  color: #f08a00;
}

.pagination[b-j0hmfoenw4] {
  position: sticky;
  bottom: 0;
  /* прилипає до низу контейнера */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  border: 2px solid #ccc;
  border-radius: 10px;
  background: #fff;
  padding: 8px 16px;
  margin-top: auto;
  /* штовхає вниз у flex-контейнері */
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}


.pagination button[b-j0hmfoenw4] {
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.2s;
}

.pagination button:hover:not([disabled])[b-j0hmfoenw4] {
  background: #f2f2f2;
}

.pagination button[disabled][b-j0hmfoenw4] {
  opacity: 0.5;
  cursor: not-allowed;
}


.pagination button[b-j0hmfoenw4] {
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.2s;
}

.pagination button:hover:not([disabled])[b-j0hmfoenw4] {
  background: #f2f2f2;
}

.pagination button[disabled][b-j0hmfoenw4] {
  opacity: 0.5;
  cursor: not-allowed;
}
/* /Components/SearchBar.razor.rz.scp.css */
.search-container[b-j4t3buk2ez] {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.search-icon[b-j4t3buk2ez] {
  position: absolute;
  right: 10px; /* 🔹 розміщення справа */
  top: 27px;
  width: 15px;
  height: 15px;
  opacity: 0.6;
  pointer-events: none;
}

.search-bar[b-j4t3buk2ez] {
  margin-top: 1rem;
  width: 400px;
  height: 35px;
  outline: none;
  border-style: hidden;
  border-radius: 12px;
  padding-right: 35px; /* 🔹 тепер відступ праворуч */
  background-color: #f8f8f8;
  font-size: 15px;
}

.search-bar:focus[b-j4t3buk2ez] {
  transition: 0.3s;
  box-shadow: 0 0 5px rgba(255, 200, 0, 0.5);
  background-color: white;
}

.suggestions-list[b-j4t3buk2ez] {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 8px;
}

.suggestions-list li[b-j4t3buk2ez] {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover[b-j4t3buk2ez] {
  background: #f0f0f0;
}
/* /Components/SimpleDropDownButton.razor.rz.scp.css */
.dropdown-list[b-ox8osl1at1] {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #ffffff;
  border-radius: 6px;
  min-width: 180px;
  top: 100%; /* відкривається прямо під кнопкою */
  left: 0; /* вирівнювання по лівому краю */
  z-index: 9999; /* поверх усіх елементів */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-list li[b-ox8osl1at1] {
  border-bottom: 1px solid #eee;
}

.dropdown-list li:last-child[b-ox8osl1at1] {
  border-bottom: none;
}

.dropdown-list a[b-ox8osl1at1] {
  display: block;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
}

.dropdown-list a:hover[b-ox8osl1at1] {
  background: #f0f0f0;
}
.button-yellow[b-ox8osl1at1] {
  width: 125px;
  height: 35px;
  border-radius: 15px;
  background-color: rgb(233, 181, 10);
  border-style: hidden;
}
