.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  margin: 0;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f185;
  color: white;
  padding: 10px 20px;
}

.site-header-second {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 20px;
  background-color: #ffffff;
  color: white;
  padding: 10px 20px;
}


.logo-block {
  display: flex;
  align-items: center;
  gap: 15px;
}

.site-footer {
  background-color: #f1f1f185;
  border-top: 1px solid #cecece;
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  font-size: 0.9rem;
  height: 20vh;
}

.site-content {
  flex: 1;
  min-height: 300px;
}

.button-yellow {
  width: 150px;
  height: 35px;
  border-radius: 15px;
  background-color: rgb(233, 181, 10);
  border-style: hidden;
}

.iconbutton {
  background-color: #f1f1f185;
  width: 15vh;
  border: none;
}

.header-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 20px;
}


.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.header-grid-second {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 20px;
  padding: 10px 20px;
}

.header-second-left {
  display: flex;
  align-items: center;
}

.header-second-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-second-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}