.bucket-button {
  width: 125px;
  height: 35px;
  border-radius: 15px;
  background-color: rgb(233, 181, 10);
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(3px);
  z-index: 900;
}

.bucket-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 340px;
  height: 100vh;
  background: #fff;
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  animation: slideIn 0.3s ease forwards;
}

/* анімація відкриття */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.bucket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  font-size: 1.2rem;
  font-weight: 700;
  color:black;
}

.close-btn {
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.bucket-items {
  flex: 1;
  overflow-y: auto;
  padding: 0.5rem 1rem;
}

.bucket-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

.bucket-item img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}

.item-info {
  color:black;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.item-name {
  font-weight: 600;
}

.item-price {
  color: #e5b30b;
}

.item-qty {
  color:black;
  display: flex;
  align-items: center;
  gap: 6px;
}

.item-qty button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.bucket-footer {
  color:black;
  padding: 1rem;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  font-weight: 700;
  font-size: 1.1rem;
}

.checkout {
  background: rgb(233, 181, 10);
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-weight: 600;
  cursor: pointer;
}