.slider-wrapper {
  position: relative;
  flex: 1;
  height: 28px; 
}

.slider-wrapper input[type="range"] {
  position: absolute;
  inset: 0;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
  background: none;
  margin: 0;
  z-index: 2;
  touch-action: none;/
}

.slider-wrapper input[type="range"]:focus,
.slider-wrapper input[type="range"]:active {
  z-index: 3;
}

.slider-wrapper input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
}

.slider-wrapper input[type="range"]::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

.slider-track {
  position: absolute;
  top: 12px;
  height: 4px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  z-index: 0;
}

.slider-active {
  position: absolute;
  top: 12px;
  height: 4px;
  background: #000000;
  border-radius: 5px;
  z-index: 1;
}

.slider-wrapper input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
}
.slider-wrapper input[type="range"]::-moz-range-track {
  background: transparent;
}
