.products-container {
  position: relative; /* щоб sticky працювало всередині */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  width: 100%;
  border-radius: 10px;
  background: #ffffff;
  padding-bottom: 70px; /* щоб кнопки не перекривали товари */
  scrollbar-gutter: stable both-edges; 

}

.product-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  border: 2px solid #e0e0e0;
  border-radius: 30px;
  background: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease;
  width: 200px;
  height: 250px;
}

.product-button:hover {
  border-color: #0078d7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.product-button img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.product-button .name {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #333;
}

.product-button .price {
  font-size: 18px;
  font-weight: 700;
  color: #f08a00;
}

.pagination {
  position: sticky;
  bottom: 0; /* прилипає до низу контейнера */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  border: 2px solid #ccc;
  border-radius: 10px;
  background: #fff;
  padding: 8px 16px;
  margin-top: auto; /* штовхає вниз у flex-контейнері */
  box-shadow: 0 -2px 6px rgba(0,0,0,0.1);
  z-index: 10;
}


.pagination button {
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.2s;
}

.pagination button:hover:not([disabled]) {
  background: #f2f2f2;
}

.pagination button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
