.profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  margin-top: 5vh;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  background-color: #ddd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-bottom: 5vh;
  margin: 5vh;
  transition: 1s;
}

.info-box {
  flex: 1;
  min-width: 250px;
  max-width: 480px;
  background-color: #26C6DA;
  border: hidden;
  border-radius: 50px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 1s;
}

.redact-button {
  background-color: #26C6DA;
  width: 0px;
  height: 0px;
  border: none;
}

.prof-text {
  size: 10px;
  font-weight: 700;
  margin: 0px;
  transition: all 20s ease;
}

.divider {
  height: 2px;
  opacity: 1;
  background-color: #000000;
}

input,
option,
select {
  border: 1px solid #2e2e2e3d;
  border-radius: 10px;
}